.perfil-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.perfil-contenedor .info {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.titulo-perfil{
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.img-perfil{
    width: 150px;
    height: auto;
    border-radius: 50%;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}
