:root {

    --card-bg-color: #fff;
    --card-border-color: #ccc;
}

@font-face {
    font-family: 'PokemonFont';
    src: url('../fonts/pokemon-emerald.otf') format('truetype');
}

.a-volver-arriba {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    
}

.volver-arriba {
    font-family: "PokemonFont", sans-serif;
    background: #e9a143;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: opacity 0.3s;
}

.volver-arriba:hover {
    transition: 0.3s;
    background: #ffbd67;
}

.pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    gap: 5px;
    padding: 5px;

    background-color: white;
    border-radius: 20px;
    margin: 20px auto;
    overflow: hidden;
}


.pokemon-card {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease; /* Solo una transición */
}

.pokemon-card:hover {
    transition: 0.2s ease;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.pokemon-card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.pokemon-card:has(.pokemon-img.pokemon-not-found) {
    pointer-events: none;
    cursor: default;
}

.pokemon-img {
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    margin-bottom: 10px;
    object-fit: cover;
    display: block;
    user-select: none;
    -webkit-user-drag: none;
    /* Añadir estas líneas para forzar el centrado */
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 0; /* Evita que la imagen se comprima */
}

.pokemon-not-found {
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
    filter:
        brightness(0) contrast(1000%) drop-shadow(0 0 8px rgba(0, 0, 0, 0.8));
}

.modal {

    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top
    left: 0;f
    top: 0;
    width: 100%;
    height: 100%; */
    /* Full width and height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(173, 173, 173);
    /* Fallback color */
    background-color: rgba(124, 124, 124, 0.4);
    /* Black w/ opacity */
    padding: 20px;
}

.img-pokemon-pokedex-dialog {
    width: 125px;
    height: 125px;
    object-fit: contain;
    /* Recorta la imagen manteniendo proporciones */
    display: block;
    user-select: none;
    -webkit-user-drag: none;
}

.pokemon-header {
    color: white;
}

.pokemon-description {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border: 2px striped black;
    font-family: 'PokemonFont', sans-serif;
}

.pokemon-stats {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border: 2px thick double black;
    font-family: 'PokemonFont', sans-serif;
}

.pokemon-stats table {
    width: 170px;
    border-collapse: collapse;
    border: none;
}

.stats-info-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.stats-numbers {
    color: rgb(51, 197, 255);
    text-shadow: 1px 1px 1px #0078bd;
    transition: 0.3s;
}

.stats-numbers:hover {
    transition: 0.3s;
    color: #0078bd;
    text-shadow: 1px 1px 1px #33c5ff;
}

.coleccion-container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    margin: 0 auto;
}

h2 {

    margin-bottom: 10px;
}

.subtitle {
    color: #7f8c8d;
    margin-bottom: 20px;
}

.datos-coleccion {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.datos-coleccion p {
    color: #34495e;
    font-size: 16px;
    margin-bottom: 20px;
}

.progress-container {
    position: relative;

    margin: 20px auto;
}

.progress-circle {
    transform: rotate(-90deg);
    width: 100%;
    height: 100%;
}

.progress-bg {
    fill: none;
    stroke: #e0e0e0;
    stroke-width: 8;
}

.progress {
    fill: none;
    stroke: #ff6b6b;
    stroke-width: 8;
    stroke-linecap: round;
    transition: stroke 0.3s ease;
}

.percentage {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    font-weight: bold;
    color: #2c3e50;
}

.pokemon-count {
    background: #3498db;
    color: white;
    padding: 8px 16px;
    border-radius: 20px;
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
}

.dashboard-container {
    display: flex;
    align-items: center;

    padding: 20px;
    /* background-color: #f8f9fa; */
    border-radius: 15px;
    /* box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); */
}