:root {

    --card-bg-color: #fff;
    /* Color de fondo de las tarjetas */
    --card-border-color: #ccc;
    /* Color del borde de las tarjetas */
}
@font-face
{
    font-family: 'PokemonFont';
    src: url('../fonts/pokemon-emerald.otf') format('truetype');
}

.pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: 5px;
    padding: 5px;
    margin: 0 auto;
    width: 70%;
}

.pokemon-card {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    text-align: center;
    transition: transform 0.3s ease;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}

.pokemon-card:hover {
    transition: 0.2s ease;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.pokemon-card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.pokemon-img {
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    margin-bottom: 10px;
    /* Ajusta el alto al contenedor */
    object-fit: cover;
    /* Recorta la imagen manteniendo proporciones */
    display: block;
    user-select: none;
    -webkit-user-drag: none;
}

.pokemon-not-found {
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
    filter:
        brightness(0)
        /* Hace la imagen completamente negra */
        contrast(1000%)
        /* Aumenta el contraste para eliminar medios tonos */
        drop-shadow(0 0 8px rgba(0, 0, 0, 0.8));
    /* Opcional: añade sombra para mejor visibilidad */
}

.pokemon-card-hashtag {
    color: var(--accent-color);
    font-size: 1.2em;
    position: relative;
    top: 15px;
    left: 15px;
    transition: 0.3s ease;
}

.modal {
    
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; */
    /* Full width and height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.img-pokemon-pokedex-dialog{
    width: 125px;
    height: 125px;
    object-fit: contain;
    /* Recorta la imagen manteniendo proporciones */
    display: block;
    user-select: none;
    -webkit-user-drag: none;
}

.pokemon-description{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border: 2px striped black;
    font-family: 'PokemonFont', sans-serif;
}

.pokemon-stats{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border: 2px striped black;
    font-family: 'PokemonFont', sans-serif;
}

.stats-info-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}