.sobres-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;
}

.sobres-contenedor form{
    display: inline-block;
}

.img-sobre {
    width: 150px;
    height: auto;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}

.sobre {
    animation: levitar 5s ease-in-out infinite;
    cursor: pointer;
    transition: 0.3s;
}

.sobre:hover {
    animation: hoverSobre 0.1s forwards;
}

.sobres-formulario button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

@keyframes hoverSobre {
    0% {

        transform: rotate(0deg);
    }

    50% {

        transform: rotate(-15deg);
    }

    75% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(0deg);
        transform: scale(1.2);
    }
}

@keyframes levitar {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}