:root {
    --main-color: #f8c351;
    --accent-color: orange;
    --button-color: #f88418;
}

@font-face
{
    font-family: 'PokemonFont';
    src: url('../fonts/pokemon-emerald.otf') format('truetype');
}

body {
    font-family: 'PokemonFont', sans-serif;
    background-color: var(--main-color);
    margin: 0;
    padding: 0;
}

main {
    min-height: calc(100vh - 100px);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: var(--accent-color);
}

.dynamic-header {
    position: relative;
    height: 20vh;
    overflow: hidden;
    background-color: #df923b;
    background-image: url("../img/header_bg.png");
    background-size: 250%;
    background-repeat: no-repeat;
    transition: background-position 60s ease;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-usuario-contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    z-index: 2;
    background-color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
}

.nav-usuario-nombre{
    font-size: 20px;
    color: black;
    margin-right: 10px;
}

.img-perfil-nav{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}
button {
    background-color: var(--button-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    color: white;
}

button:hover {
    transition: 0.3s ease;
    background-color: #ffffff;
    color: black;
}

footer {
    background-color: var(--accent-color);
    color: white;
    text-align: center;
    padding: 10px;
    position: static;
    bottom: 0;
    width: 100%;
    min-height: 100px;
}

.logo {
    width: 250px;
    margin: 10px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    transition: 0.3s;
    z-index: 2;
}

.logo:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.05);
    filter: drop-shadow(9px 9px 9px rgba(0, 0, 0, 0.5));
}

.formulario-login input {
    padding: 7px;
    margin: 5px 0;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    z-index: 2;
}

.info {
    background-color: white;
    border: 3px solid greenyellow;
    border-radius: 20px;
    font-family: 'PokemonFont', sans-serif;
    font-size: 1.2em;
    width: 60%;
    padding: 20px;
    margin: 0 auto;
}