:root {
    --main-color: #ffd595;
    --accent-color: rgb(255, 217, 0);
    --button-color: #f88418;
}

/* Style the tab */
.tab {
    
    /* border: 1px solid #ccc; */
    background-color: #ffbb62;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19pt;

}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: var(--button-color);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    width: 100%;
    border-radius: 0px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: var(--accent-color);
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: var(--accent-color);
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #ccc; */
    border-top: none;
}

.tabcontent {
    animation: fadeEffect 1s;
    /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}